// HEX colours
$color-one: #000000;
$color-two: #0d2443;
$color-text-one: #ffffff;
$color-text-two: #000000;
$color-text-three: #2efff9;
$color-text-four: #2f5995;
$color-background-one: #ffffff;
$color-background-two: #bfdaff;