// HEX colours
$color-one: #546A7B;
$color-two: #CED0CE;
$color-text-one: #ffffff;
$color-text-two: #223843;
$color-text-three: #546A7B;
$color-text-four: #2f5995;
$color-background-one: #ececec;
$color-background-two: #e2e2e2;
$color-background-footer-header: #546A7B;