// HEX colours
$color-one: #0d2443;
$color-two: #0d2443;
$color-text-one: #ffffff;
$color-text-two: #000000;
$color-text-three: #2efff9;
$color-text-four: #2f5995;
$color-background-one: #f0f0f0;
$color-background-two: #d4d4d4;
$color-background-footer-header: #0d2443;