// HEX colours

$color-one: #000000;
$color-two: #0d2443;
$color-text-one: #ffffff;
$color-text-two: #000000;
$color-text-three: #2efff9;
$color-text-four: #2f5995;

html {
  scroll-behavior: smooth;
}

.App {
  text-align: center;
  height: 100vh;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  padding-top: 10vh;
  height: 100vh;
  // padding-bottom: 10vh;
  background-color: $color-one;
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.App-link {
  color: #61dafb;
}

.blink_me {
  animation: blinker 2s linear normal;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}

.menu-intro-div {
  margin: 0;
  padding: 0;
  background-image: url("backgroundX.png");
  background-size: 100%;
  height: 100vh;
}

.menu-div {
  z-index: 999;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 6%;
  width: 100%;
  background-color: $color-one;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}
.menu-div:hover {
  opacity: 1;
}

.menu-div-my-name {
  width: 20%;
  position: relative;
  > img {
    padding-left: 15px;
    height: 80%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  > a {
    font-family: "Patua One", cursive;
    font-size: 160%;
    text-decoration: none;
    color: $color-text-one;
    position: absolute;
    margin: 0;
    top: 50%;
    transform: translateX(50%) translateY(-50%);
    transition: color 0.5s ease;
  }
  a:hover {
    color: $color-text-two;
  }
}

.menu-div-topics {
  position: relative;
  width: 50%;
  > ul {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    > li {
      > a {
        text-decoration: none;
        > p {
          color: $color-text-one;
          font-size: 140%;
          font-family: "Patua One", cursive;
        }
      }
    }
  }
}

.intro_div {
  height: 70%;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.social-media {
  background-color: $color-one;
  height: 20%;
  margin: 0 10% 0 60%;
  border-radius: 40px;
  background: rgba($color-one, 0.6);
  position: relative;
  > p {
    margin: 0;
    padding-top: 2%;
    color: white;
    font-weight: bold;
    font-size: 180%;
    text-align: center;
  }
  > ul {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    > li {
      > a img {
        // transition: visibility 0s, filter 0.5s linear;
        filter: invert(0%) sepia(0%) saturate(7492%) hue-rotate(308deg) brightness(104%) contrast(98%);
        width: 50% !important;
        height: 50%;
        opacity: 1;
      }
    }
  }
}
.icon-borders {
  width: 60px;
  height: 60px;
  // border: 2px solid white;
  border-radius: 50%;
  position: relative;
  background-color: white;
  transition: visibility 0s, background-color 0.2s linear;
  > img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}

.icon-borders:hover {
  // border: 2px solid $color-text-one;
  background-color: $color-text-three;
}

.flex-item-left {
  justify-content: center;
  align-items: center;
  flex: 50%;
  padding-top: 20vh;
  text-align: center;
}

.flex-item-left p {
  padding-left: 20%;
  display: flex;
  flex-direction: column;
  text-align: left;
  color: $color-text-one;
  font-family: "Lucida Console", "Courier New", monospace;
}

.flex-item-left .p1 {
  font-weight: bold;
  font-size: calc(40px + 10%);
}

.show-hello {
  animation: say_hello 2s 2s linear backwards;
}

@keyframes say_hello {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.flex-item-left .p2 {
  font-size: calc(30px + 10%);
}

.show-presentation {
  animation: present_myself 2s 4s linear backwards;
}

@keyframes present_myself {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.flex-item-right {
  align-items: center;
  justify-content: center;
  display: flex;
  flex: 50%;
  text-align: center;
  align-items: flex-end;
}

.flex-item-right img {
  max-width: auto;
  height: 85%;
  max-height: 60vh;
}

.show-pic {
  animation: my_pic 2s 0s linear backwards;
}

@keyframes my_pic {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
